on:
  workflow_call:
    inputs:
      java-version:
        required: true
        type: number
      runs-on:
        required: false
        type: string
        default: "ubuntu-latest"
        description: "The runner to use for the job. Default: ubuntu-latest"
    secrets:
      SONAR_TOKEN:
        required: true
        description: "The SonarCloud token to use for running Sonar analysis"

jobs:
  build_project:
    runs-on: ${{ inputs.runs-on }}
    steps:
      - uses: tacascer-org/actions-workflows/.github/workflows/setup_gradle.yml@v0.1.0
        with:
          java-version: ${{ inputs.java-version }}
          runs-on: ${{ inputs.runs-on }}
          shallow-clone: false
      - name: Run Gradle build
        run: ./gradlew build
      - name: Cache SonarCloud packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
      - name: Run Sonar analysis
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./gradlew sonar
