on:
  workflow_call:
    inputs:
      java-version:
        required: true
        type: number
      runs-on:
        required: false
        type: string
        default: "ubuntu-latest"
        description: "The runner to use for the job. Default: ubuntu-latest"
    secrets:
      SONAR_TOKEN:
        required: true
        description: "The SonarCloud token to use for running Sonar analysis"

permissions: {}

jobs:
  build-project:
    runs-on: ${{ inputs.runs-on }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Shallow clones should be disabled for SonarCloud
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ inputs.java-version }}
      - uses: gradle/actions/setup-gradle@v3
      - name: Run tests
        run: ./gradlew check
      - name: Cache SonarCloud packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
      - name: Run Sonar analysis
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./gradlew sonar

  verify-gradle-wrapper:
    runs-on: ${{ inputs.runs-on }}
    steps:
      - uses: actions/checkout@v4
      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v3

  run-codeql-analysis:
    runs-on: ${{ inputs.runs-on }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ inputs.java-version }}
      - uses: gradle/actions/setup-gradle@v3
      - name: Setup CodeQL analysis
        uses: github/codeql-action/init@v3
        with:
          languages: java-kotlin
      - name: Autobuild
        uses: github/codeql-action/autobuild@v3
      - name: Perform CodeQL analysis
        uses: github/codeql-action/analyze@v3
    permissions:
      security-events: write

  review-dependencies:
    uses: tacascer-org/actions-workflows/.github/workflows/review_dependencies.yml@v0
    permissions:
      contents: write

  lint:
    runs-on: ubuntu-latest
    permissions:
      # To report GitHub Actions status checks
      statuses: write
    steps:
      - uses: actions/checkout@v4
        with:
          # super-linter needs the full git history to get the
          # list of files that changed across commits
          fetch-depth: 0
      - name: Super-linter
        uses: super-linter/super-linter@v6.6.0
        env:
          # To report GitHub Actions status checks
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          FILTER_REGEX_EXCLUDE: .*CHANGELOG.md|.*gradlew.* # Ignore generated files
          VALIDATE_JSCPD: false # Disable JSCPD validation
